.detailPage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}
.detail_img_container{
    height: 60%;
}
.detail_img_container>img{
    display: block;
}
.detail_content{
    margin-left: 50px;
    width: 40%;
    min-height: 60%;
}

.detail_content_dateNmatch{
    margin-top: 5px;
    display: flex;
    width: 35%;
    margin-bottom: 20px;
    justify-content: space-between;
}
.detail_content_match{
    color: rgb(73, 216, 73);
}
.detail_content_overview{
    font-size: 1.1rem;
}
.detail_btn{
    margin-top: 25px;
    display: flex;
}
.detail_btn>button{
    width: 120px;
    margin: 0 5px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    transition: all 0.2s;       
}
.detail_btn_play{
    background-color: red;
    color: #fff;
}
.detail_btn_play:hover{
    background-color: rgb(247, 78, 78);
}
.detail_btn_watchList{
    background: none;
    border: 1px solid #fff!important;
    color: #fff;
}
.detail_btn_watchList:hover{
    background-color: rgba(228, 228, 228,0.2);
}
.detail_btn_icons{
    margin-right: 5px;
}
.detailPage_responsiveBackground{
    display: none;
}
.return_btn{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    color: #fff;
}
.return_btn:hover{
    background-color: rgba(238, 238, 238, 0.2);
}
@media only screen and (max-width: 1000px){
    .detailPage{
        flex-direction: column;
        justify-content: flex-end;
        height: auto;
        padding-bottom: 20px;
    }
    .detail_img_container{
        display: none;
    }
    .detailPage_responsiveBackground{
        display: block;
        height: 50vh;
        width: 100%;
    }
    .detail_content{
        width: 90%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }
    .detail_content_dateNmatch{
        width: 180px;
        margin-bottom: 5px;
    }
    .detail_content_overview{
        order: 1;
    }
    .detail_btn{
        margin-top: 5px;
        margin-bottom: 20px;
    }
}